.logo__span {
  color: var(--main-title-color);
}

.header {
  background-color: var(--white-color);
  border-bottom: 1px solid #ececec;
  > .container {
    display: flex;
    align-items: center;
  }
}
.header-nav {
  display: none;
  @media screen and (min-width: 768px) and(max-width:1199px) {
    display: flex;
    margin-left: 88px;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    margin-left: 93px;
  }
}
.header-list {
  display: flex;
  &__item {
    position: relative;
    &--active::after {
      background-image: url(../images/hover.svg);
    }
  }
  &__item + &__item {
    margin-left: 50px;
  }
  &__link {
    display: block;
    @include font-text(500, 14px, 1.14, 0.02em);
    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--main-title-color);
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      color: var(--acent-color);
    }
    &--current {
      color: var(--acent-color);
      &::after {
        position: absolute;
        display: block;
        content: "";
        width: 100%;
        height: 4px;
        background-color: var(--acent-color);
        bottom: 0px;
        border-radius: 2px;
      }
    }
  }
}
.header_logo {
  padding-top: 16px;
  padding-bottom: 16px;
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    padding-top: 26px;
    padding-bottom: 26px;
  }
  @media screen and (min-width: 1200px) {
    padding-top: 24px;
    padding-bottom: 24px;
  }
}

.contacts {
  display: none;
  margin-left: auto;
  &__link {
    color: var(--second-title-color);
    display: flex;
    align-items: center;
    text-align: center;
    @include font-text(500, 14px, 1.14, 0.02em);
    color: var(--second-title-color);
    padding-top: 32px;
    padding-bottom: 32px;
    @media screen and (min-width: 768px) and(max-width: 1199px) {
      padding: 0;
      @include font-text(500, 12px, 1.17, 0.02em);
    }
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      color: var(--acent-color);
    }
  }
  &__span {
    margin-left: 10px;
  }
  &__item + &__item {
    margin-left: 50px;
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      margin: 0;
    }
  }
  &__envelope,
  &__smartphone {
    fill: currentColor;
    animation: scaler;
    animation-duration: 2500ms;
    animation-iteration-count: infinite;
  }
  @media screen and (min-width: 768px) {
    display: block;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
  }
}
.contacts__item:not(:last-child) {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacts__post {
    padding-top: 20px;
  }
  .contacts__phone {
    padding-bottom: 20px;
  }
}

@keyframes scaler {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
