.portfolio {
  background-color: var(--white-color);
  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.portfolio-nav {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-bottom: 40px;
  gap: 8px;
  @media screen and (min-width: 768px) {
    justify-content: center;
  }
  & .button {
    font-family: inherit;
    @include font-text(500, 16px, 1.63);
    color: var(--main-title-color);
    transition-property: color, background-color, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
 
  & .active,
  :focus {
    color: var(--main-button-color);
    background-color: var(--second-button-color);
  }
}

/* ----------------portfolio---------------- */

.portfolio-list__item {
  display: flex;
}
.product-link {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &__title {
    width: 100%;
    margin-top: 0px;
    margin-bottom: 4px;
    @include font-text(700, 18px, 2, 0.06em);
    color: var(--main-title-color);
  }
  &__text {
    margin-top: 0px;
    margin-bottom: 0px;
    @include font-text(400, 16px, 1.88);
    color: var(--second-title-color);
  }
  &__image {
    display: block;
    width: 100%;
    flex-basis: auto;
  }
  &__overlay {
    position: relative;
    overflow: hidden;
    @media screen and (max-width:1200px) {
      overflow-y: auto;
    }
    
  }
  &__meta {
    // display: flex;
    // flex-wrap: wrap;
    flex-grow: 1;
    padding: 20px 24px;
    border-left: 1px solid #eeeeee;
    border-right: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
  }
  &:hover,
  &:focus {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}

.product-link__overlay-text {
  position: absolute;
  top: 0px;
  margin: 0px;
  padding: 63px 24px;
  width: 100%;
  height: 100%;
  @include font-text(400, 18px, 1.55);
  color: var(--white-color);
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(101%);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  .portfolio-list__item:hover & {
    transform: translateY(0);
  }
  .product-link:focus & {
    transform: translateY(0);
  }
}
.portfolio-list {
  display: block;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  &__item {
    @media screen and (max-width: 767px) {
      margin-bottom: 30px;
    }
    @media screen and (min-width: 768px) {
      width: calc((100% - 30px) / 2);
    }
    @media screen and(min-width:  1200px) {
      width: calc((100% - 60px) / 3);
    }
  }
}

.portfolio-nav__item .button:hover,
.portfolio-nav__item .button:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: var(--main-button-color);
}
.portfolio-nav__item .active {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
