:root {
  --main-button-color: #ffffff;
  --second-button-color: #2196f3;
  --main-title-color: #212121;
  --second-title-color: #757575;
  --acent-color: #2196f3;
  --white-color: #ffffff;
  --acent-button-color: #188ce8;
  --secong-bacground-color: #f5f4fa;
  --basement-colour: #2f303a;
}

